@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");

$grey: #c0c0c0;
$maincolor: $grey;
$bluegradient: linear-gradient(to right, #000080, #1084d0);

body {
  background: $grey;
  color: black;
  font-family: 'Arial',sans-serif;;
  font-size: 14px;
  margin: 70px 0;
}
h1 {
  color: $maincolor;
}
.chatbar {
  background: $maincolor;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 2% 5%;
  position: fixed;
  right: 0;
}

.chatbar-message,
.chatbar-username {
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;

  border: 1px solid;
  border-top-color: #808080;
  border-left-color: #808080;
  border-bottom-color: #fff;
  border-right-color: #fff;
}

.chatbar-message {
  flex: 8;
}

.chatbar-username {
  flex: 2;
}
#message-list{
  overflow-y: scroll;
  background: white;
  height: 74vh;
  width: 90%;
  margin: auto;

  border: 1px solid;
  border-top-color: #808080;
  border-left-color: #808080;
  border-bottom-color: #fff;
  border-right-color: #fff;
}
.message {
  display: flex;
  padding: 5px;
}

.message.system {
  font-style: italic;
  padding: 5px 15px;
}

.message-content,
.message-username {
  overflow: hidden;
  margin: 5px;
  padding: 0 10px;
}

.message-content {
  flex: 9;
}

.message-username {
  flex: 2;
  font-weight: 700;
}
.message-image{
  flex: 9;
  max-width: 60%;
  width: auto;
  height: auto;
}

.navbar {
  background: $bluegradient;
  height: 5%;
  left: 0;
  width: 90%;
  margin: 2% auto;
  position: fixed;
  right: 0;
  top: 0;
}

.navbar-brand {
  color: white;
  display: block;
  font-weight: 600;
  font-size: 28px;
  padding: 0 5%;
  text-decoration: none;
}

#userCount{
  padding: 0 5% 2%;
}